<%  if(pageID != 'dashboard') { %>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Interswitch Limited</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <% } else { %>

        <nav class="navbar navbar-expand-lg  fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Interswitch Limited</a>
            <div class="collapse navbar-collapse" id="navbarTogglerHeader">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" id="jobs-nav"> Jobs <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="clusters-nav">Clusters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" id="databases-nav">Databases</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
        </nav>


        <% } %>